In [1]:
import pandas as pd 
import geopandas as gpd

In [29]:
name_values = ["三軒茶屋駅", "二子玉川駅"]
lat_values = [35.644111, 35.6115]
lon_values = [139.668972, 139.626611]
dict = {"name": name_values, "lat": lat_values, "lon": lon_values}
df = pd.DataFrame.from_dict(dict)
gdf = gpd.GeoDataFrame(
    df, geometry=gpd.points_from_xy(df.lon, df.lat))

In [6]:
gdf

         lat         lon   name                      geometry
0  35.644111  139.668972  三軒茶屋駅  POINT (139.668972 35.644111)
1  35.611500  139.626611  二子玉川駅    POINT (139.626611 35.6115)

In [8]:
gdf.crs = {'init' :'epsg:4326'}

In [9]:
gdf.crs

{'init': 'epsg:4326'}

In [13]:
gdf.to_crs({'init': 'epsg:2451'}, inplace=True)

In [26]:
gdf

             lat         lon                                       geometry
name
三軒茶屋駅  35.644111  139.668972  POINT (-14884.23941639199 -39471.52566087874)
二子玉川駅  35.611500  139.626611   POINT (-18727.97702159519 -43082.1916441504)

In [15]:
gdf.distance(gdf.shift())

0            NaN
1    5273.635143
dtype: float64

In [24]:
gdf.loc[0, 'geometry'].centroid.x

-14884.239416391987

In [11]:
import math

def get_distance(x1, y1, x2, y2):
    d = math.sqrt((x2 - x1) ** 2 + (y2 - y1) ** 2)
    return d

In [25]:
gdf.set_index('name', inplace=True)

In [28]:
get_distance(gdf.loc['三軒茶屋駅', 'geometry'].centroid.x, gdf.loc['三軒茶屋駅', 'geometry'].centroid.y,
             gdf.loc['二子玉川駅', 'geometry'].centroid.x, gdf.loc['二子玉川駅', 'geometry'].centroid.y)

5273.635142897956